version: "3.8"

services:
  postgresdb:
    image: postgres
    restart: unless-stopped
    env_file: ./.env
    environment:
      - POSTGRES_USER=$POSTGRESDB_USER
      - POSTGRES_PASSWORD=$POSTGRESDB_ROOT_PASSWORD
      - POSTGRES_DB=$POSTGRESDB_DATABASE
    ports:
      - $POSTGRESDB_LOCAL_PORT:$POSTGRESDB_DOCKER_PORT
    volumes:
      - ./src/main/resources/schema-all.sql:/docker-entrypoint-initdb.d/01_schema.sql:ro
      - ./src/main/resources/loyality_data.csv:/docker-entrypoint-initdb.d/loyality_data.csv:ro
      - ./db-init/02_load_loyality.sql:/docker-entrypoint-initdb.d/02_load_loyality.sql:ro

  app:
    depends_on:
      - postgresdb
    image: batch-processing
    build:
      context: .
      dockerfile: ./Dockerfile
    restart: no